table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

table.tr:nth-child(odd){
    background-color: #f1f1f1;
}

table.tr:nth-child(odd){
    background-color: #f1f1f1;
}