table, td{
    border-collapse: collapse;
    padding: 5px;
}

th {
    border-top: 2px double grey;
    border-bottom: 2px double grey;
    background-color: #bddaff;
    cursor: pointer;
    text-align: center;
}

td {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

table tr:nth-child(odd){
    background-color: #d9f1ff;
}

table tr:nth-child(even){
    background-color: #cce8ff;
}

.highLighted {
    background-color: #56bdff;
}

button, select {
    width: 75px;
    margin: 5px;
    padding: 5px;
    cursor: pointer
}

a {
    cursor: pointer;
}

label {
    width: 100px;
    display: inline-block;
}

input, textarea {
    margin: 5px auto;
}

.material-icons.md-10 { font-size: 10px; }
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-14 { font-size: 14px; }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-22 { font-size: 22px; }
