table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

th {
    background-color: lightgreen;
}

label {
    width : 75px;
    display: inline-block;
}

input {
    margin: 5px;
}

table tr:nth-child(odd){
    background-color: #ffffff;
}

table tr:nth-child(even){
    background-color: #f1f1f1;
}

.highLighted {
    background-color: #bdf9bd;
}

.ownerHighLighted {
    background-color: #f9b799;
}