table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

table tr:nth-child(odd){
    background-color: #f1f1f1;
}

table tr:nth-child(even){
    background-color: #ffffff;
}

input.ng-valid {
    background-color: lightgreen;
}

input.ng-invalid {
    background-color: lightpink;
}

.ng-slider {
    background-color: red;
    width: 3em;
    height: 3em;
    position: absolute;

    /* Add vendor prefixes as needed */
    transition: top 800ms linear, left 800ms linear;
}