<div ng-controller="adminCtrl">
    <h1 style="margin: 20px auto; text-align: center;">Member Status</h1>
    <div ng-show="showNE" style="background-color: #bdf9bd; padding: 20px;">
        <h3>{{newOrEdit}}</h3>
        <form name="adminForm" novalidate>
            <input type="hidden" ng-model="id">
            <label>Grade</label> :
            <input type="number" ng-model="grade" ng-minlength="1" name="grade" style="width: 150px;" required>
            <span ng-show="gradeError||!adminForm.grade.$pristine||adminForm.grade.$error.minlength" style="color: red;">Grade is not correct</span>
            <br>
            <label>Name</label> :
            <input type="text" ng-model="name" ng-minlength="1" name="name" style="width: 150px;" required>
            <span ng-show="nameError||!adminForm.name.$pristine||adminForm.name.$error.minlength" style="color: red;">Name is not correct</span>
            <br>
            <label>Gender</label> :
            <input type="radio" ng-model="gender" value="'Male'" ng-value="'Male'"> Male
            <input type="radio" ng-model="gender" value="'Female'" ng-value="'Female'"> Female
            <br>
            <label>Age</label> :
            <input type="number" ng-model="age" ng-minlength="1" name="age" style="width: 150px;" required>
            <span ng-show="ageError||!adminForm.age.$pristine||adminForm.age.$error.minlength" style="color: red;">Age is not correct</span>
            <br>
            <label>Email</label> :
            <input type="email" ng-model="email" ng-minlength="1" name="email" style="width: 150px;" required>
            <span ng-show="userForm.email.$error.email||emailError||!adminForm.email.$pristine||adminForm.email.$error.minlength"
                  style="color: red;">Invalid email address</span><br>
            <label>Password</label> :
            <input type="password" ng-model="password" ng-minlength="1" name="password" style="width: 150px;"
                   required><br>
            <label>Repeat</label> :
            <input type="password" ng-model="repeat" ng-minlength="1" name="repeat" style="width: 150px;" required>
            <span ng-show="passwordError||!adminForm.repeat.$pristine||adminForm.repeat.$error.minlength" style="color: red;">Password is not correct</span><br>
            <input type="submit"
                   style="background-color: dodgerblue; margin: 10px; width: 75px; height: 30px;"
                   ng-click="saveUser()" value="&#10004; Save"/>
        </form>
    </div>
    <button style="float: right; margin: 10px" ng-click="editUser(0)">New</button>
    <table style="text-align: center; width: 100%;" ng-mouseleave="hoveredRow = null">
        <tr>
            <th ng-click="orderByThis('grade')">Grade</th>
            <th ng-click="orderByThis('name')">Name</th>
            <th ng-click="orderByThis('gender')">Gender</th>
            <th ng-click="orderByThis('age')">Age</th>
            <th ng-click="orderByThis('email')">E-mail</th>
        </tr>
        <tbody>
        <tr ng-repeat="user in users | orderBy:userOrderBy">
            <td ng-mouseover="mouseOverStyle(user)"
                ng-class="{highLighted : (hoveredRow == user)}">
                {{user.grade}}
            </td>
            <td ng-mouseover="mouseOverStyle(user)"
                ng-class="{highLighted : (hoveredRow == user)}">
                {{user.name}}
            </td>
            <td ng-mouseover="mouseOverStyle(user)"
                ng-class="{highLighted : (hoveredRow == user)}">
                {{user.gender}}
            </td>
            <td ng-mouseover="mouseOverStyle(user)"
                ng-class="{highLighted : (hoveredRow == user)}">
                {{user.age}}
            </td>
            <td ng-mouseover="mouseOverStyle(user)"
                ng-class="{highLighted : (hoveredRow == user)}">
                {{user.email}}
                <button style="float: right" ng-click="deleteUser(user, $index)">x</button>
                <button style="float: right" ng-click="editUser(user)">&#9998;</button>
            </td>
        </tr>
        </tbody>
    </table>
    <!--<div ng-hide="hasLogin">
        올바르지 않은 접근입니다.<br>
        먼저 로그인을 해 주세요<br>
        <button style="margin: 10px; width: 100px; height: 50px;" ng-click="showPage('/login')">Login</button>
    </div>-->
</div>