<div ng-controller="boardListCtrl as vm" style="text-align: center">
    <div style="margin: 5px">
        <select ng-model="pageLimit" ng-change="optionChanged()" style="float:left;">
            <option ng-value="5" value="5">5</option>
            <option ng-value="10" value="10">10</option>
            <option ng-value="15" value="15">15</option>
            <option ng-value="20" value="20">20</option>
        </select>
        <button ng-click="writeContent()" style="float: right; margin-right: 40px" class="material-icons md-12">&#xE150; NEW</button>
    </div>
    <table style="width: 100%">
        <thead>
        <tr>
            <th ng-click="orderByThis('num')">No.</th>
            <th ng-click="orderByThis('writer')">Writer</th>
            <th ng-click="orderByThis('title')">Title</th>
            <th ng-click="orderByThis('date')">Date</th>
            <th ng-click="orderByThis('count')">Count</th>
            <th style="width: 15px; border: none; background-color: #ffffff;"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="content in vm.items | orderBy:contentOrderBy">
            <td ng-mouseover="mouseOverStyle(content)" ng-class="{highLighted : (hoveredRow == content)}">{{content.num}}</td>
            <td ng-mouseover="mouseOverStyle(content)" ng-class="{highLighted : (hoveredRow == content)}">{{content.writer}}</td>
            <td ng-mouseover="mouseOverStyle(content)" ng-class="{highLighted : (hoveredRow == content)}" style="text-align: left"><a href="javascript:void(0);" ng-click="showDetail(content)">{{content.title}}</a></td>
            <td ng-mouseover="mouseOverStyle(content)" ng-class="{highLighted : (hoveredRow == content)}">{{content.date}}</td>
            <td ng-mouseover="mouseOverStyle(content)" ng-class="{highLighted : (hoveredRow == content)}">{{content.count}}</td>
            <td style="width: 15px; border: none; background-color: #ffffff; padding: 2px;"><input type="button" ng-click="deleteContent(content)" style="width: 20px; padding: 2px;" class="material-icons md-12" value="&#xE872;"></td>
        </tr>
        </tbody>
    </table>
    <ul ng-if="vm.pager.pages.length" class="pagination">
        <li ng-class="{disabled:vm.pager.currentPage === 1}">
            <a ng-click="vm.setPage(1)">First</a>
        </li>
        <li ng-class="{disabled:vm.pager.currentPage === 1}">
            <a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>
        </li>
        <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
            <a ng-click="vm.setPage(page)">{{page}}</a>
        </li>
        <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
            <a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
        </li>
        <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
            <a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
        </li>
    </ul>
</div>