<div ng-controller="detailCtrl" style="width: 90%; margin: 20px auto">
    <h1>No.{{contentNum}} Detail</h1>
    <form>
        <label>Title</label> : <input type="text" ng-model="title" ng-disabled="!isEditMode"
                                      style="width: 70%;" required><br>
        <label>Content</label> : <br>
        <textarea ng-model="content" ng-disabled="!isEditMode"
                  style="width: 100%; height: 400px; display: block;" required></textarea>
        <label>Writer</label> : <input type="text" ng-model="writer" ng-disabled="!isEditMode"
                                       style="width: 200px;" required><br>
        <label>Password</label> : <input type="password" ng-model="password"
                                         ng-disabled="!isEditMode" style="width: 200px;"
                                         required><br>
        <button type="submit" ng-click="saveContent()" style="float: right; margin-left: 10px"
                class="material-icons md-12">&#xE5CA; SAVE
        </button>
        <button ng-click="editContent()" style="float: right; margin-left: 10px"
                class="material-icons md-12">&#xE150; EDIT
        </button>
        <button ng-click="toList()" style="float: right; margin-left: 10px"
                class="material-icons md-12">&#xE896; LIST
        </button>
    </form>
</div>