<div ng-controller="loginCtrl">
    <div ng-hide="hasLogin" style="background-color: #bdf9bd; padding: 20px;">
        <h1 style="margin: 20px auto; text-align: center;">Login</h1>
        <form name="loginForm">
            <label>Email</label> :
            <input type="email" ng-model="email" name="email" style="width: 150px;" required><br>
            <label>Password</label> :
            <input type="password" ng-model="password" name="password" style="width: 150px;"
                   required><br>
            <span ng-show="loginError"
                  style="color: red;">Invalid email address or password</span><br>
            <input type="submit"
                   style="background-color: dodgerblue; margin: 10px; width: 75px; height: 30px;"
                   ng-click="login(email, password)" value="Login"/>
        </form>
    </div>
</div>