<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="../js/common.js"></script>
    <link rel="stylesheet" href="../css/common.css">
    <title>Board</title>
</head>
<body>
<div style="margin: 100px auto; width: 700px;" ng-app="boardApp" ng-controller="mainCtrl">
    <div ng-hide="hasLogin" style="background-color: #bdf9bd; padding: 20px;">
        <h1 style="margin: 20px auto; text-align: center;">Login</h1>
        <form name="loginForm" ng-submit="login(loginForm.$valid, email, password)" novalidate>
            <label>Email</label> :
            <input type="email" ng-model="email" style="width: 150px;" required><br>
            <label>Password</label> :
            <input type="password" ng-model="password" style="width: 150px;" required><br>
            <span ng-show="loginError"
                  style="color: red;">Invalid email address or password</span><br>
            <input type="submit"
                   style="background-color: dodgerblue; margin: 10px; width: 75px; height: 30px;"
                   value="Login"/>
        </form>
    </div>
    <div ng-show="hasLogin">
        <button style="margin: 10px; width: 100px; height: 50px;" ng-click="showPage('/member')">Board</button>
        <button style="margin: 10px; width: 100px; height: 50px;" ng-click="showPage('/admin')" ng-disabled="!isAdmin">Admin</button>
        <div ng-view></div>
    </div>
</div>
</body>
</html>