<div ng-controller="memberCtrl">
    <h1 style="margin: 20px auto; text-align: center;">My Comembers</h1>
    <div ng-show="showNE" style="background-color: #bdf9bd; padding: 20px;">
        <h3>{{newOrEdit}}</h3>
        <form name="userForm" ng-submit="saveUser(userForm.$valid)" novalidate>
            <input type="hidden" ng-model="id" required>
            <label>Grade</label> :
            <input type="number" ng-model="grade" name="grade" style="width: 150px;" disabled required>
            <br>
            <label>Name</label> :
            <input type="text" ng-model="name" name="name" style="width: 150px;" disabled required>
            <br>
            <label>Gender</label> :
            <input type="radio" ng-model="gender" name="gender" ng-value="'Male'"> Male
            <input type="radio" ng-model="gender" name="gender" ng-value="'Female'"> Female
            <br>
            <label>Age</label> :
            <input type="number" ng-model="age" name="age" style="width: 150px;" required><br>
            <label>Email</label> :
            <input type="email" ng-model="email" name="email" style="width: 150px;" required>
            <span ng-show="userForm.email.$error.email||emailError"
                  style="color: red;">Invalid email address</span><br>
            <label>Password</label> :
            <input type="password" ng-model="password" name="password" style="width: 150px;"
                   required><br>
            <label>Repeat</label> :
            <input type="password" ng-model="repeat" style="width: 150px;" required>
            <span ng-show="passwordError" style="color: red;">Password is not correct</span><br>
            <input type="submit"
                   style="background-color: dodgerblue; margin: 10px; width: 75px; height: 30px;" value="&#10004; Save"/>
        </form>
    </div>
    <table style="text-align: center; width: 100%; margin-top: 10px;" ng-mouseleave="hoveredRow = null">
        <tr>
            <th ng-click="orderByThis('grade')">Grade</th>
            <th ng-click="orderByThis('name')">Name</th>
            <th ng-click="orderByThis('gender')">Gender</th>
            <th ng-click="orderByThis('age')">Age</th>
            <th ng-click="orderByThis('email')">E-mail</th>
        </tr>
        <tbody>
        <tr ng-repeat="user in users | orderBy:userOrderBy">
            <td ng-mouseover="mouseOverStyle(user)" ng-class="{highLighted : (hoveredRow == user)}">
                {{user.grade}}
            </td>
            <td ng-mouseover="mouseOverStyle(user)" ng-class="{highLighted : (hoveredRow == user)}">
                {{user.name}}
            </td>
            <td ng-mouseover="mouseOverStyle(user)" ng-class="{highLighted : (hoveredRow == user)}">
                {{user.gender}}
            </td>
            <td ng-mouseover="mouseOverStyle(user)" ng-class="{highLighted : (hoveredRow == user)}">
                {{user.age}}
            </td>
            <td ng-mouseover="mouseOverStyle(user)" ng-class="{highLighted : (hoveredRow == user)}">
                {{user.email}}
                <button style="float: right" ng-show="isOwner(user.id)" ng-click="editUser(user)">&#9998;</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>