<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="../js/test.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../css/test.css">
</head>
<body>

<!-- #1 -->
<!--<div ng-app="myApp" ng-controller="myCtrl">
    Name: <input ng-model="name">
    <h1>You entered : {{name}}</h1>
</div>-->

<!-- #2 -->
<!--<div ng-app="myApp" ng-controller="myCtrl">
    First Name : <input type="text" ng-model="firstName">
    Last Name : <input type="text" ng-model="lastName">
    <br>
    Full Name : {{firstName + " " + lastName }}
</div>-->

<!-- #3 -->
<!--<div ng-app="" ng-init="names=[
{name:'hehe', country:'korea'},
{name:'babe', country:'spain'},
{name:'adolf', country:'germany'}]">
    <ul>
        <li ng-repeat="x in names">
            {{ x.name + ', ' + x.country }}
        </li>
    </ul>

</div>-->

<!-- #4 -->
<!--<form ng-app="" name="myForm">
    Email : <input type="email" name="myAddress" ng-model="text">
    <span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
</form>-->

<!-- #5 : 유효성 체크 -->
<!--<form ng-app="" name="myForm" ng-init="myText = 'post@myweb.com'">
    Email : <input type="email" name="myAddress" ng-model="myText" required>
    <h1>Status</h1>
    {{myForm.myAddress.$valid}}         &lt;!&ndash; 유효성 체크 &ndash;&gt;
    {{myForm.myAddress.$dirty}}         &lt;!&ndash; 기본 입력된 값과 달라졌을 때 &ndash;&gt;
    {{myForm.myAddress.$touched}}       &lt;!&ndash; input 박스 터치 되었을 때 &ndash;&gt;
</form>-->

<!-- #6 : table에 filter 적용 시키기 -->
<!--<div ng-app="myApp" ng-controller="namesCtrl">
    <table border="1" width="100%">
        <tr>
            <th ng-click="orderByMe('name')">Name</th>
            <th ng-click="orderByMe('country')">Country</th>
        </tr>
        <tr ng-repeat="x in names | orderBy:myOrderBy">
            <td>{{x.name}}</td>
            <td>{{x.country}}</td>
        </tr>
    </table>
</div>-->

<!-- #7 : ng-repeat으로 list 만들고 filter 적용시키기 -->
<!--<ul ng-app="myApp" ng-controller="namesCtrl">
    <li ng-repeat="x in names">
        {{x.name|myFormat}}
    </li>
</ul>-->

<!-- #8 : {{}} 사용 -->
<!--<div ng-app="myApp" ng-controller="myCtrl">
    <p>Today's welcome message is : </p>
    <h1>{{myWelcome}}</h1>
</div>-->

<!-- #9 : 시간에 따라 event 적용 -->
<!--<div ng-app="myApp" ng-controller="myCtrl">
    <p>This header will change after two point half seconds : </p>
    <h1>{{myHeader}}</h1>
</div>-->

<!-- #10 : 현재시간 구하기 -->
<!--<div ng-app="myApp" ng-controller="myCtrl">
    <p>The time is : </p>
    <h1>{{theTime}}</h1>
</div>-->

<!-- #11 : 입력된 숫자를 hex로 변환 (1) -->
<!--<div ng-app="myApp" ng-controller="myCtrl">
    <p>The hexadecimal value of : <input type="number" ng-model="decNum"></p>
    <h1>{{hex}}</h1>
</div>-->

<!-- #12 : 입력된 숫자를 hex로 변환 (2) -->
<!--<div ng-app="myApp" ng-controller="myCtrl">
    The hexadecimal value of : <input type="number" ng-model="decNum" value="0">
    <h1>decNum : {{decNum}}</h1>
    <h1>hexNum : {{decNum.toString(16)}}</h1>
</div>-->

<!-- #13 : 입력된 숫자를 hex로 변환 (3) -->
<!--<div ng-app="myApp">
    <input type="number" ng-model="decNum"> -> convert to hex : <h1>{{decNum | myFormat}}</h1>
</div>-->

<!-- #14 : ng-repeat으로 list 만들기 (1) -->
<!--<div ng-app="myApp" ng-controller="myCtrl">
    <ul>
        <li ng-repeat="x in myData">
            {{x.Name + ', ' + x.Country}}
        </li>
    </ul>
</div>-->

<!-- #15 : ng-repeat으로 list 만들기 (2) -->
<!--<div ng-app="myApp" ng-controller="myCtrl">
    <table>
        <tr ng-repeat="x in names">
            <td>{{x.Name}}</td>
            <td>{{x.Country}}</td>
        </tr>
    </table>
</div>-->

<!-- #16 : ng-repeat과 filter -->
<!--<div ng-app="myApp" ng-controller="customersCtrl">
    <table>
        <tr ng-repeat="x in names | orderBy : 'Country'">
            <td>{{$index + 1}}</td>
            <td>{{x.Name}}</td>
            <td>{{x.Country}}</td>
        </tr>
    </table>
</div>-->

<!-- #17 : checkbox -->
<!--<div ng-app="" ng-init="mySwitch=true">
    <p>
        <button ng-disabled="mySwitch">Click Me</button>
    </p>
    <p>
        <input type="checkbox" ng-model="mySwitch"/>Button
    </p>
    <p>
        {{mySwitch}}
    </p>
</div>-->

<!-- #18 : ng-show와 hide -->
<!--<div ng-app="" ng-init="hour=13">
    <p ng-show="true">I am Visible</p>
    <p ng-show="false">I am not Visible</p>
    <p ng-show="hour >= 12">Hour >= 12</p>
    <p ng-show="hour < 12">Hour < 12</p>
    <p ng-hide="false">I am Visible</p>
    <p ng-hide="true">I am not Visible</p>
    <p ng-hide="hour >= 12">Hour >= 12</p>
    <p ng-hide="hour < 12">Hour < 12</p>
</div>-->

<!-- #19 : Mouse Event와 버튼 클릭 -->
<!--<div ng-app="myApp" ng-controller="myCtrl">
    <p>
    <h1 ng-mousemove="count = count + 1">Mouse Over me</h1>
    <h2>{{count}}</h2>
    </p>
    <p>
    <input type="button" ng-click="count1 = count1 + 1" value="click me">
    <h2>{{count1}}</h2>
    </p>
    <p>
    <input type="button" ng-click="myFunction()" value="click me">
    <h2>{{count2}}</h2>
    </p>
</div>-->

<!-- #20 : ng-show -->
<!--<div ng-app="myApp" ng-controller="myCtrl" ng-init="showMe = false">
    <input type="button" ng-click="myFunc()" value="Click me">
    <div ng-show="showMe">
        <h1>Menu</h1>
        <div>Pizza</div>
        <div>Hotdog</div>
        <div>Hamberg</div>
        <div>Sandwich</div>
        <div>Pasta</div>
    </div>
</div>-->

<!-- #21 : mouse Event-->
<!--<div ng-app="myApp" ng-controller="myCtrl">
    <div ng-mousemove="myFunc($event)" style="width: 500px; height: 300px; background-color: aquamarine"></div>
    <p>
        <h3>Coordinates : {{x + ', ' + y}}</h3>
    </p>
</div>-->

<!-- #22 : checkbox 와 radio 박스 -->
<!--<div ng-app="">
    <form>
        <input type="checkbox" ng-model="mySwitch">광고 제거
    </form>
    <h1 ng-show="!mySwitch">광고오오오오오오</h1>
    <br>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;<br>
    <form>
        <input type="radio" ng-model="myRadio" value="news">News
        <input type="radio" ng-model="myRadio" value="forecast">Forecast
        <input type="radio" ng-model="myRadio" value="entertainment">Entertainment
        <input type="radio" ng-model="myRadio" value="documentary">Documentary
        <input type="radio" ng-model="myRadio" value="movie">Movie
    </form>
    <div ng-switch="myRadio">
        <div ng-switch-when="news">
            <h1>News</h1>
            <p>Breaking News : We got Zombie Attack!!</p>
        </div>
        <div ng-switch-when="forecast">
            <h1>Weather</h1>
            <p>It is rainy today and colder than yesterday. Tomorrow will be fine</p>
        </div>
        <div ng-switch-when="entertainment">
            <h1>KnownBro</h1>
            <p>The guest of today is Soyu of Sistar</p>
        </div>
        <div ng-switch-when="documentary">
            <h1>Kingdom of Animals</h1>
            <p>This is a Whaleshark</p>
        </div>
        <div ng-switch-when="movie">
            <h1>Dunkirke</h1>
            <p>The greatest scene of escaping from Dunkirke beach</p>
        </div>
    </div>
    <br>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;<br>
    <form>
        <select ng-model="mySelect">
            <option value="">&#45;&#45;Menu&#45;&#45;</option>
            <option value="news">News</option>
            <option value="forecast">Forecast</option>
            <option value="entertainment">Entertainment</option>
            <option value="documentary">Documentary</option>
            <option value="movie">Movie</option>
        </select>
    </form>
    <div ng-switch="mySelect">
        <div ng-switch-when="news">
            <h1>News</h1>
            <p>Breaking News : We got Zombie Attack!!</p>
        </div>
        <div ng-switch-when="forecast">
            <h1>Weather</h1>
            <p>It is rainy today and colder than yesterday. Tomorrow will be fine</p>
        </div>
        <div ng-switch-when="entertainment">
            <h1>KnownBro</h1>
            <p>The guest of today is Soyu of Sistar</p>
        </div>
        <div ng-switch-when="documentary">
            <h1>Kingdom of Animals</h1>
            <p>This is a Whaleshark</p>
        </div>
        <div ng-switch-when="movie">
            <h1>Dunkirke</h1>
            <p>The greatest scene of escaping from Dunkirke beach</p>
        </div>
    </div>

</div>-->

<!-- #23 : form 내용 바꾸기 -->
<!--<div ng-app="myApp" ng-controller="myCtrl">
    <form novalidate>
        First Name : <br>
        <input type="text" ng-model="user.firstName"><br>
        Last Name : <br>
        <input type="text" ng-model="user.lastName">
        <br><br>
        <button ng-click="reset()">reset</button>
    </form>
    <p>Typed : {{user.firstName + ' ' + user.lastName}}</p>
    <p>Original : {{master.firstName + ' ' + master.lastName}}</p>
</div>-->

<!-- #24 : form의 유효성 체크 (1) -->
<!--<p>Fill input field</p>
<div ng-app="">
    <form name="myForm">
        <input name="myText" ng-model="myText" required>
        <span ng-show="myForm.myText.$invalid"></span>
        <input name="myEmail" ng-model="myEmail" type="email" required>
        <span ng-show="myForm.myEmail.$invalid"></span>
    </form>
    <p>Valid state of text is :
    <h3>{{myForm.myText.$valid}}</h3></p>
    <p>Valid state of email is :
    <h3>{{myForm.myEmail.$valid}}</h3></p>
</div>-->

<!-- #25 : form의 유효성 체크 (2) -->
<!--div ng-app="myApp">
    <form name="myForm">
        <input name="myInput" ng-model="myInput" required my-directive>
    </form>
    <p>Valid state of input is : </p>
    <h1>{{myForm.myInput.$valid}}</h1>
</div>-->

<!-- #26 : form의 유효성 체크 (3) -->
<!--<form ng-app="myApp" ng-controller="validateCtrl" name="myForm" novalidate>
    <p>Name : <br>
        <input type="text" name="user" ng-model="user" required>
        <span style="color: red;" ng-show="myForm.user.$dirty && myForm.user.$invalid">
            <span ng-show="myForm.user.$error.required">Username is required.</span>
        </span>
    </p>
    <p>Email : <br>
        <input type="email" name="email" ng-model="email" required>
        <span style="color: red;" ng-show="myForm.user.$dirty && myForm.email.$invalid">
            <span ng-show="myForm.email.$error.required">Email is required.</span>
            <span ng-show="myForm.email.$error.email">Invalid email address.</span>
        </span>
    </p>
    <p>
        <input type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid || myForm.email.$dirty && myForm.email.$invalid">
    </p>

</form>-->

<!-- #27 : Table에 이름 삽입, 수정 -->
<!--<div ng-app="myApp" ng-controller="userCtrl">
    <div class="w3-container">
        <h3>Users</h3>
        <table class="w3-table w3-bordered w3-striped">
            <tr>
                <th>Edit</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Password</th>
            </tr>
            <tr ng-repeat="user in users">
                <td>
                    <button class="w3-btn w3-ripple" ng-click="editUser(user.id)">&#9998; Edit
                    </button>
                </td>
                <td>
                    {{user.firstName}}
                </td>
                <td>
                    {{user.lastName}}
                </td>
            </tr>
        </table>
        <br>
        <button class="w3-btn w3-green w3-ripple" ng-click="editUser('new')">&#9998; Create New
            User
        </button>

        <form ng-hide="hideForm">
            <div ng-show="edit">
                <h3>Create New User : </h3>
                <label>First Name : </label>
                <input class="w3-input w3-border" type="text" ng-model="firstName"
                       placeholder="First Name">
                <br>
                <label>Last Name : </label>
                <input class="w3-input w3-border" type="text" ng-model="lastName"
                       placeholder="Last Name">
                <br>
                <label>Password : </label>
                <input class="w3-input w3-border" type="password" ng-model="password"
                       placeholder="Password">
                <br>
                <label>Repeat : </label>
                <input class="w3-input w3-border" type="password" ng-model="repeat"
                       placeholder="Repeat">
                <br>
                <button class="w3-btn w3-green w3-ripple" ng-disabled="error || incomplete">&#10004;
                    Save Changes
                </button>
            </div>
            <div ng-hide="edit">
                <h3>Edit User : </h3>
                <label>First Name : </label>
                <input class="w3-input w3-border" type="text" ng-model="firstName"
                       placeholder="First Name">
                <br>
                <label>Last Name : </label>
                <input class="w3-input w3-border" type="text" ng-model="lastName"
                       placeholder="Last Name">
                <br>
                <label>Password : </label>
                <input class="w3-input w3-border" type="text" ng-model="password"
                       placeholder="Password">
                <br>
                <label>Repeat : </label>
                <input class="w3-input w3-border" type="text" ng-model="repeat"
                       placeholder="Repeat">
                <br>
                <button class="w3-btn w3-green w3-ripple" ng-disabled="error || incomplete">&#10004;
                    Save Changes
                </button>
            </div>
        </form>
    </div>
</div>-->

<!-- #28 : animation -->
<!--<div ng-app="animApp"
     style="width: 800px; height: 700px; background-color: lightgrey">
    <my-rect ng-anim-right='right'
             ng-anim-bottom='bottom' ng-anim-left='left' ng-anim-top='top'
             style="position: absolute; width: 100px; height: 100px; background-color: dodgerblue">
        {{right + ', ' + bottom + ', ' + left + ', ' + top}}
    </my-rect>
</div>-->

<!-- #29 : ng-slider를 이용한 움직이는 사각형 -->
<!--<div ng-app='test'>
    <div ng-slider></div>
</div>-->

<!-- #30 : route 는 싱글페이지에서 페이지 전환 없이 페이지를 불러오고 싶을 때 사용-->
<!--<div ng-app="myApp">
    <p><a href="#/!">Home</a></p>
    <a href="#!red">Red</a>
    <a href="#!blue">Blue</a>
    <a href="#!green">Green</a>
    <div ng-view></div>
</div>-->

<!-- #31 : table에 shoppingList 추가 -->
<!--<div ng-app="shoppingList" ng-controller="myCtrl" ng-cloak class="w3-card-2 w3-margin" style="max-width: 400px">
    <header class="w3-container w3-light-grey w3-padding-16">
        <h3>My Shopping List</h3>
    </header>
    <ul class="w3-ul">
        <li ng-repeat="x in products" class="w3-padding-16">
            {{x}}
            <span ng-click="removeItem($index)" style="cursor: pointer" class="w3-right w3-margin-right">x</span>
        </li>
    </ul>
    <div class="w3-container w3-light-grey w3-padding-16">
        <div class="w3-row w3-margin-top">
            <div class="w3-col s10">
                <input ng-model="addMe" placeholder="Add shopping items here" class="w3-input w3-border w3-padding">
            </div>
            <div class="w30col s2">
                <button ng-click="addItem()" class="w3-btn w3-padding w3-green">Add</button>
            </div>
        </div>
    </div>
    <p class="w3-text-red">{{errortext}}</p>
</div>-->

</body>
</html>